<ul>
<% @restaurants.each do |restaurant| %>
  <li>
    <h1><%= restaurant.name %></h1>
    <p><%= restaurant.category %></p>

    <%= link_to 'more...', restaurant_path(restaurant), class: 'btn btn-info' %>
    <br><hr>
  </li>
<% end %>
</ul>
